In [1]:
# Exercise 1
def Merge_sorted_lists(l1,l2):
  l1.extend(l2)
  l1.sort()
  return l1

In [2]:
l1=[1,5,6,8]
l2=[3,4,9,10]
l1=Merge_sorted_lists(l1,l2)
print(l1)

[1, 3, 4, 5, 6, 8, 9, 10]

In [3]:
# Exercise 2
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
dict1=dict.fromkeys(employees,defaults)
print(dict1)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [23]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
keysToRemove = ["name", "salary"]
new_dic={key: value for key, value in sampleDict.items() if key not in keysToRemove}
print(new_dic)

{'age': 25, 'city': 'New york'}

In [10]:
# Exercise 4
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])
union=dataScientist.union(dataEngineer)
intersection=dataScientist.intersection(dataEngineer)
result=union-intersection
print(result)

{'Scala', 'SQL', 'Hadoop', 'Tableau', 'R', 'Java', 'Python', 'SAS', 'Git'}
{'Scala', 'Hadoop', 'Tableau', 'R', 'Java', 'SAS'}

In [19]:
def division_p_q(p,q):
    return p/q

p=20
q=10
try:
   print( division_p_q(p,q))
    
except ZeroDivisionError as z:
    print("Not Divisible because of error",z)
except:
    print("Please enter float or integer")

2.0